.like-button {
  padding: 0;
  margin: 0 22px 0 0;
	width: 20px;
	height: 18px;
	align-self: center;
  border: none;
  background: center / contain no-repeat url(../../images/button-3.svg);
}

.like-button:hover {
	opacity: 0.5;
	transition: opacity 0.3s ease;
}

.like-button:active {
  background: center / contain no-repeat url(../../images/button-4.svg);
}