.profile__subtitle {
	margin: 0;
	font-size: 18px;
	text-align: left;
}

@media screen and (max-width: 1023px) {
	.profile__subtitle {
		margin: 0 0 36px 0;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}
}
